@{
    ViewData["Title"] = "Meetups";
}


<h2>Organizers:</h2>
<ul>
    @foreach (var organizer in this.Model)
        {
    <li>
        <div>
            <h3>@organizer.name</h3>
            <p>by @organizer.company</p>           
        </div>
    </li>
        }
</ul>